<h3>{{ player }}</h3>
<div class="input-group mb-3">
    <input #scoreInput
           type="number"
           name="score"
           class="form-control"
           placeholder="Score"
           aria-label="Score"
           min="0"
           [ngModel]="score"
           (ngModelChange)="onScoreChange($event)" />
    <div class="input-group-append">
        <button class="btn btn-success"
                type="submit"
                (click)="save()">Save</button>
        <button class="btn btn-danger"
                type="button"
                (click)="farkle()">Farkle!</button>
    </div>
</div>
