name: CI

on:
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: 22
          cache: 'npm'
          cache-dependency-path: './package-lock.json'
      - run: npm ci
      - run: npm run typecheck -w @fsc/react --if-present
      - run: npm run build -w @fsc/react --if-present
      - run: npm run test:ci -w @fsc/react --if-present
